/* You can add global styles to this file, and also import other style files */
body {
    color: #314584;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    transition: opacity 1s;
    min-width: 330px;
  }
  
  button {
    background: linear-gradient(to bottom, #009EFF 0px, #0075BC 100%) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 #E6F5FF inset;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    width: 100%;
}